[Service]
ExecStart=/usr/bin/altcloud server
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=altcloud
User=altcloud
Group=altcloud
Environment=NODE_ENV=production
WorkingDirectory=/home/altcloud/webroot

[Install]
WantedBy=multi-user.target
